In [1]:
import numpy as np 
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

Cargamos los cvs desde google drive de train, tambi√©n mas adelante el de test y gender submission.

In [3]:
data_path='/content/drive/MyDrive/train.csv'
df_train = pd.read_csv(data_path)
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df_train['Cabin'].value_counts()

B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: Cabin, Length: 147, dtype: int64

Vemos que tipos de datos tenemos en nuestro dataset, si hay variables numericas y categoricas.

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Quitamos las conlumas que consideramos no nos puedan servir para el pron√≥stico.

In [6]:
train = df_train.drop(['Ticket', 'Cabin', 'Name'], axis = 1)
train.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [7]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         2
dtype: int64

Realizo un one hoy encoding para la variable categoria sex, donde est√° m√°sculina y femenino pasan a 0 y 1.
Lo mismo con la variable embarked, en el caso de age realizamos una imputaci√≥n por el promedio de todos los datos.

In [8]:
ohe = pd.get_dummies(train['Sex'], drop_first=True)
train.drop('Sex', axis=1, inplace=True)
train = train.join(ohe)
train.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare Embarked  male
0            1         0       3  22.0      1      0   7.2500        S     1
1            2         1       1  38.0      1      0  71.2833        C     0
2            3         1       3  26.0      0      0   7.9250        S     0
3            4         1       1  35.0      1      0  53.1000        S     0
4            5         0       3  35.0      0      0   8.0500        S     1

In [9]:
ohe = pd.get_dummies(train['Embarked'], drop_first=True)
train.drop('Embarked', axis=1, inplace=True)
train = train.join(ohe)
train.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0            1         0       3  22.0      1      0   7.2500     1  0  1
1            2         1       1  38.0      1      0  71.2833     0  0  0
2            3         1       3  26.0      0      0   7.9250     0  0  1
3            4         1       1  35.0      1      0  53.1000     0  0  1
4            5         0       3  35.0      0      0   8.0500     1  0  1

In [10]:
meanValue = np.round(train['Age'].mean(), 0)

In [11]:
train['Age'] = train['Age'].fillna(meanValue)
train.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0            1         0       3  22.0      1      0   7.2500     1  0  1
1            2         1       1  38.0      1      0  71.2833     0  0  0
2            3         1       3  26.0      0      0   7.9250     0  0  1
3            4         1       1  35.0      1      0  53.1000     0  0  1
4            5         0       3  35.0      0      0   8.0500     1  0  1

In [12]:
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
male           0
Q              0
S              0
dtype: int64

In [13]:
train.isnull().values.any()

False

Seleccionamos de nuestro dataset de train la variable Y a predecir que es cuantos sobrevivieron al titanic.

In [14]:
X = train.iloc[:, train.columns != 'Survived']
y = train.loc[:, 'Survived']

In [15]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [16]:
std_scaler = StandardScaler()
X = std_scaler.fit_transform(X)

In [17]:
#partici√≥n de data para entrenamiento y prueba.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.469135802, shuffle=True)

### Keras

In [18]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [19]:
inputs = X_train.shape[1]

10 neuronas con relu fue la que obtenemos mejores resultados.

Segunda capa oculta con 5 neuronas.

Tercera capa oculta con 2 neronas.

In [45]:
#base secuencial para definir la estructura de la Red (SIEMPRE INICIAR CON SQUENTIAL)
clasificador = Sequential()

#primera capa oculta solo la primera necesita (input_dim = inputs
clasificador.add(Dense(input_dim = inputs, units=10, activation='relu', kernel_initializer='uniform'))

#segunda capa oculta ya en la segunda ya no se nesecita los input 
clasificador.add(Dense(units=5, activation='relu', kernel_initializer='uniform'))

#tercera capa oculta ya en la segunda ya no se nesecita los input
clasificador.add(Dense(units=2, activation='relu', kernel_initializer='uniform'))

#capa de salida
clasificador.add(Dense(units=1, activation='sigmoid', kernel_initializer='uniform'))

Parametros de optimizaci√≥n el mejor es adam, podriamos haber usado el mini batch pero no me corrio por alguna raz√≥n.

In [46]:
#parametros de optimizaci√≥n
clasificador.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

#parametros de entrenamiento.
clasificador.fit(X_train, y_train, batch_size=10, epochs=200)

Epoch 1/200
48/48 [==============================] - 1s 2ms/step - loss: 0.6918 - accuracy: 0.5920
Epoch 2/200
48/48 [==============================] - 0s 2ms/step - loss: 0.6886 - accuracy: 0.6089
Epoch 3/200
48/48 [==============================] - 0s 2ms/step - loss: 0.6817 - accuracy: 0.6448
Epoch 4/200
48/48 [==============================] - 0s 2ms/step - loss: 0.6583 - accuracy: 0.7653
Epoch 5/200
48/48 [==============================] - 0s 3ms/step - loss: 0.6188 - accuracy: 0.7759
Epoch 6/200
48/48 [==============================] - 0s 2ms/step - loss: 0.5917 - accuracy: 0.7844
Epoch 7/200
48/48 [==============================] - 0s 2ms/step - loss: 0.5750 - accuracy: 0.7928
Epoch 8/200
48/48 [==============================] - 0s 2ms/step - loss: 0.5621 - accuracy: 0.8055
Epoch 9/200
48/48 [==============================] - 0s 2ms/step - loss: 0.5522 - accuracy: 0.8055
Epoch 10/200
48/48 [==============================] - 0s 2ms/step - loss: 0.5419 - accuracy: 0.8076
Epoch 11/200
48/48 [==============================] - 0s 2ms/step - loss: 0.5333 - accuracy: 0.8182
Epoch 12/200
48/48 [==============================] - 0s 2ms/step - loss: 0.5245 - accuracy: 0.8161
Epoch 13/200
48/48 [==============================] - 0s 2ms/step - loss: 0.5176 - accuracy: 0.8161
Epoch 14/200
48/48 [==============================] - 0s 2ms/step - loss: 0.5102 - accuracy: 0.8182
Epoch 15/200
48/48 [==============================] - 0s 2ms/step - loss: 0.5032 - accuracy: 0.8182
Epoch 16/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4982 - accuracy: 0.8182
Epoch 17/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4918 - accuracy: 0.8224
Epoch 18/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4872 - accuracy: 0.8224
Epoch 19/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4830 - accuracy: 0.8140
Epoch 20/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4787 - accuracy: 0.8224
Epoch 21/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4736 - accuracy: 0.8309
Epoch 22/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4685 - accuracy: 0.8245
Epoch 23/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4665 - accuracy: 0.8288
Epoch 24/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4606 - accuracy: 0.8245
Epoch 25/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4578 - accuracy: 0.8351
Epoch 26/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4545 - accuracy: 0.8245
Epoch 27/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4521 - accuracy: 0.8330
Epoch 28/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4487 - accuracy: 0.8330
Epoch 29/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4460 - accuracy: 0.8351
Epoch 30/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4429 - accuracy: 0.8288
Epoch 31/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4411 - accuracy: 0.8288
Epoch 32/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4383 - accuracy: 0.8372
Epoch 33/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4358 - accuracy: 0.8330
Epoch 34/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4345 - accuracy: 0.8351
Epoch 35/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4331 - accuracy: 0.8309
Epoch 36/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4298 - accuracy: 0.8372
Epoch 37/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4288 - accuracy: 0.8351
Epoch 38/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4275 - accuracy: 0.8372
Epoch 39/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4245 - accuracy: 0.8393
Epoch 40/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4228 - accuracy: 0.8309
Epoch 41/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4217 - accuracy: 0.8372
Epoch 42/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4212 - accuracy: 0.8330
Epoch 43/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4189 - accuracy: 0.8309
Epoch 44/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4183 - accuracy: 0.8330
Epoch 45/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4163 - accuracy: 0.8330
Epoch 46/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4153 - accuracy: 0.8372
Epoch 47/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4142 - accuracy: 0.8309
Epoch 48/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4133 - accuracy: 0.8414
Epoch 49/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4138 - accuracy: 0.8393
Epoch 50/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4117 - accuracy: 0.8393
Epoch 51/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4110 - accuracy: 0.8372
Epoch 52/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4093 - accuracy: 0.8414
Epoch 53/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4092 - accuracy: 0.8436
Epoch 54/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4078 - accuracy: 0.8393
Epoch 55/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4065 - accuracy: 0.8436
Epoch 56/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4052 - accuracy: 0.8436
Epoch 57/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4054 - accuracy: 0.8393
Epoch 58/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4037 - accuracy: 0.8457
Epoch 59/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4033 - accuracy: 0.8414
Epoch 60/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4017 - accuracy: 0.8457
Epoch 61/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4008 - accuracy: 0.8457
Epoch 62/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4012 - accuracy: 0.8499
Epoch 63/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4000 - accuracy: 0.8436
Epoch 64/200
48/48 [==============================] - 0s 2ms/step - loss: 0.4010 - accuracy: 0.8478
Epoch 65/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3993 - accuracy: 0.8478
Epoch 66/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3983 - accuracy: 0.8436
Epoch 67/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3974 - accuracy: 0.8499
Epoch 68/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3968 - accuracy: 0.8520
Epoch 69/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3978 - accuracy: 0.8414
Epoch 70/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3952 - accuracy: 0.8520
Epoch 71/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3959 - accuracy: 0.8457
Epoch 72/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3974 - accuracy: 0.8541
Epoch 73/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3958 - accuracy: 0.8520
Epoch 74/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3934 - accuracy: 0.8520
Epoch 75/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3952 - accuracy: 0.8541
Epoch 76/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3950 - accuracy: 0.8478
Epoch 77/200
48/48 [==============================] - 0s 3ms/step - loss: 0.3926 - accuracy: 0.8499
Epoch 78/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3925 - accuracy: 0.8562
Epoch 79/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3929 - accuracy: 0.8541
Epoch 80/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3903 - accuracy: 0.8541
Epoch 81/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3916 - accuracy: 0.8478
Epoch 82/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3911 - accuracy: 0.8499
Epoch 83/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3902 - accuracy: 0.8499
Epoch 84/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3905 - accuracy: 0.8562
Epoch 85/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3907 - accuracy: 0.8584
Epoch 86/200
48/48 [==============================] - 0s 3ms/step - loss: 0.3916 - accuracy: 0.8541
Epoch 87/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3892 - accuracy: 0.8520
Epoch 88/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3897 - accuracy: 0.8562
Epoch 89/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3879 - accuracy: 0.8562
Epoch 90/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3877 - accuracy: 0.8541
Epoch 91/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3879 - accuracy: 0.8541
Epoch 92/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3873 - accuracy: 0.8541
Epoch 93/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3871 - accuracy: 0.8562
Epoch 94/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3886 - accuracy: 0.8520
Epoch 95/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3875 - accuracy: 0.8562
Epoch 96/200
48/48 [==============================] - 0s 3ms/step - loss: 0.3858 - accuracy: 0.8541
Epoch 97/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3853 - accuracy: 0.8605
Epoch 98/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3850 - accuracy: 0.8520
Epoch 99/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3864 - accuracy: 0.8478
Epoch 100/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3846 - accuracy: 0.8562
Epoch 101/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3852 - accuracy: 0.8562
Epoch 102/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3858 - accuracy: 0.8584
Epoch 103/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3856 - accuracy: 0.8541
Epoch 104/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3838 - accuracy: 0.8562
Epoch 105/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3830 - accuracy: 0.8584
Epoch 106/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3841 - accuracy: 0.8584
Epoch 107/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3837 - accuracy: 0.8562
Epoch 108/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3833 - accuracy: 0.8605
Epoch 109/200
48/48 [==============================] - 0s 3ms/step - loss: 0.3823 - accuracy: 0.8541
Epoch 110/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3824 - accuracy: 0.8499
Epoch 111/200
48/48 [==============================] - 0s 3ms/step - loss: 0.3834 - accuracy: 0.8584
Epoch 112/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3829 - accuracy: 0.8562
Epoch 113/200
48/48 [==============================] - 0s 3ms/step - loss: 0.3824 - accuracy: 0.8541
Epoch 114/200
48/48 [==============================] - 0s 3ms/step - loss: 0.3821 - accuracy: 0.8562
Epoch 115/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3804 - accuracy: 0.8605
Epoch 116/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3799 - accuracy: 0.8562
Epoch 117/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3804 - accuracy: 0.8562
Epoch 118/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3800 - accuracy: 0.8541
Epoch 119/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3815 - accuracy: 0.8605
Epoch 120/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3797 - accuracy: 0.8584
Epoch 121/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3784 - accuracy: 0.8584
Epoch 122/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3784 - accuracy: 0.8541
Epoch 123/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3806 - accuracy: 0.8541
Epoch 124/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3803 - accuracy: 0.8562
Epoch 125/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3779 - accuracy: 0.8605
Epoch 126/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3787 - accuracy: 0.8541
Epoch 127/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3786 - accuracy: 0.8584
Epoch 128/200
48/48 [==============================] - 0s 3ms/step - loss: 0.3771 - accuracy: 0.8520
Epoch 129/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3777 - accuracy: 0.8584
Epoch 130/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3772 - accuracy: 0.8605
Epoch 131/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3750 - accuracy: 0.8626
Epoch 132/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3759 - accuracy: 0.8562
Epoch 133/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3752 - accuracy: 0.8584
Epoch 134/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3761 - accuracy: 0.8562
Epoch 135/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3749 - accuracy: 0.8562
Epoch 136/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3771 - accuracy: 0.8520
Epoch 137/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3751 - accuracy: 0.8562
Epoch 138/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3757 - accuracy: 0.8626
Epoch 139/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3741 - accuracy: 0.8605
Epoch 140/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3749 - accuracy: 0.8584
Epoch 141/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3728 - accuracy: 0.8605
Epoch 142/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3735 - accuracy: 0.8605
Epoch 143/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3725 - accuracy: 0.8562
Epoch 144/200
48/48 [==============================] - 0s 3ms/step - loss: 0.3722 - accuracy: 0.8584
Epoch 145/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3724 - accuracy: 0.8584
Epoch 146/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3719 - accuracy: 0.8584
Epoch 147/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3718 - accuracy: 0.8584
Epoch 148/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3725 - accuracy: 0.8605
Epoch 149/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3717 - accuracy: 0.8605
Epoch 150/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3721 - accuracy: 0.8562
Epoch 151/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3702 - accuracy: 0.8626
Epoch 152/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3712 - accuracy: 0.8520
Epoch 153/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3705 - accuracy: 0.8605
Epoch 154/200
48/48 [==============================] - 0s 3ms/step - loss: 0.3702 - accuracy: 0.8605
Epoch 155/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3698 - accuracy: 0.8647
Epoch 156/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3703 - accuracy: 0.8584
Epoch 157/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3705 - accuracy: 0.8626
Epoch 158/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3692 - accuracy: 0.8584
Epoch 159/200
48/48 [==============================] - 0s 3ms/step - loss: 0.3709 - accuracy: 0.8626
Epoch 160/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3690 - accuracy: 0.8626
Epoch 161/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3720 - accuracy: 0.8584
Epoch 162/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3681 - accuracy: 0.8605
Epoch 163/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3698 - accuracy: 0.8562
Epoch 164/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3688 - accuracy: 0.8605
Epoch 165/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3680 - accuracy: 0.8647
Epoch 166/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3679 - accuracy: 0.8605
Epoch 167/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3676 - accuracy: 0.8605
Epoch 168/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3662 - accuracy: 0.8626
Epoch 169/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3670 - accuracy: 0.8626
Epoch 170/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3672 - accuracy: 0.8626
Epoch 171/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3664 - accuracy: 0.8605
Epoch 172/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3661 - accuracy: 0.8626
Epoch 173/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3667 - accuracy: 0.8584
Epoch 174/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3660 - accuracy: 0.8605
Epoch 175/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3659 - accuracy: 0.8626
Epoch 176/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3658 - accuracy: 0.8626
Epoch 177/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3676 - accuracy: 0.8647
Epoch 178/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3673 - accuracy: 0.8626
Epoch 179/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3663 - accuracy: 0.8668
Epoch 180/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3659 - accuracy: 0.8605
Epoch 181/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3668 - accuracy: 0.8626
Epoch 182/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3645 - accuracy: 0.8647
Epoch 183/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3641 - accuracy: 0.8605
Epoch 184/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3651 - accuracy: 0.8562
Epoch 185/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3638 - accuracy: 0.8626
Epoch 186/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3640 - accuracy: 0.8605
Epoch 187/200
48/48 [==============================] - 0s 3ms/step - loss: 0.3640 - accuracy: 0.8626
Epoch 188/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3659 - accuracy: 0.8605
Epoch 189/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3653 - accuracy: 0.8605
Epoch 190/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3626 - accuracy: 0.8605
Epoch 191/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3635 - accuracy: 0.8626
Epoch 192/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3623 - accuracy: 0.8668
Epoch 193/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3634 - accuracy: 0.8605
Epoch 194/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3625 - accuracy: 0.8626
Epoch 195/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3630 - accuracy: 0.8626
Epoch 196/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3617 - accuracy: 0.8626
Epoch 197/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3616 - accuracy: 0.8668
Epoch 198/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3613 - accuracy: 0.8605
Epoch 199/200
48/48 [==============================] - 0s 2ms/step - loss: 0.3611 - accuracy: 0.8668

In [47]:
path = '/content/drive/MyDrive/ANDRES' 
clasificador.save(path + 'carga1.h5')

In [48]:
# Cargamos la red.
new_model = keras.models.load_model(path + 'carga1.h5')

## Predicciones

In [49]:
data_path1='/content/drive/MyDrive/test.csv'
df_test = pd.read_csv(data_path1)
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [50]:
test = df_test.drop(['Ticket', 'Cabin', 'Name'], axis = 1)
test.head()
test

     PassengerId  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0            892       3    male  34.5      0      0    7.8292        Q
1            893       3  female  47.0      1      0    7.0000        S
2            894       2    male  62.0      0      0    9.6875        Q
3            895       3    male  27.0      0      0    8.6625        S
4            896       3  female  22.0      1      1   12.2875        S
..           ...     ...     ...   ...    ...    ...       ...      ...
413         1305       3    male   NaN      0      0    8.0500        S
414         1306       1  female  39.0      0      0  108.9000        C
415         1307       3    male  38.5      0      0    7.2500        S
416         1308       3    male   NaN      0      0    8.0500        S
417         1309       3    male   NaN      1      1   22.3583        C

[418 rows x 8 columns]

In [26]:
ohe = pd.get_dummies(test['Sex'], drop_first=True)
test.drop('Sex', axis=1, inplace=True)
test = test.join(ohe)
test.head()
test

     PassengerId  Pclass   Age  SibSp  Parch      Fare Embarked  male
0            892       3  34.5      0      0    7.8292        Q     1
1            893       3  47.0      1      0    7.0000        S     0
2            894       2  62.0      0      0    9.6875        Q     1
3            895       3  27.0      0      0    8.6625        S     1
4            896       3  22.0      1      1   12.2875        S     0
..           ...     ...   ...    ...    ...       ...      ...   ...
413         1305       3   NaN      0      0    8.0500        S     1
414         1306       1  39.0      0      0  108.9000        C     0
415         1307       3  38.5      0      0    7.2500        S     1
416         1308       3   NaN      0      0    8.0500        S     1
417         1309       3   NaN      1      1   22.3583        C     1

[418 rows x 8 columns]

In [27]:
ohe = pd.get_dummies(test['Embarked'], drop_first=True)
test.drop('Embarked', axis=1, inplace=True)
test = test.join(ohe)
test.head()
test

     PassengerId  Pclass   Age  SibSp  Parch      Fare  male  Q  S
0            892       3  34.5      0      0    7.8292     1  1  0
1            893       3  47.0      1      0    7.0000     0  0  1
2            894       2  62.0      0      0    9.6875     1  1  0
3            895       3  27.0      0      0    8.6625     1  0  1
4            896       3  22.0      1      1   12.2875     0  0  1
..           ...     ...   ...    ...    ...       ...   ... .. ..
413         1305       3   NaN      0      0    8.0500     1  0  1
414         1306       1  39.0      0      0  108.9000     0  0  0
415         1307       3  38.5      0      0    7.2500     1  0  1
416         1308       3   NaN      0      0    8.0500     1  0  1
417         1309       3   NaN      1      1   22.3583     1  0  0

[418 rows x 9 columns]

In [51]:
meanValue = np.round(test['Age'].mean(), 0)

In [52]:
test['Age'] = test['Age'].fillna(meanValue)
test.head()
test

     PassengerId  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0            892       3    male  34.5      0      0    7.8292        Q
1            893       3  female  47.0      1      0    7.0000        S
2            894       2    male  62.0      0      0    9.6875        Q
3            895       3    male  27.0      0      0    8.6625        S
4            896       3  female  22.0      1      1   12.2875        S
..           ...     ...     ...   ...    ...    ...       ...      ...
413         1305       3    male  30.0      0      0    8.0500        S
414         1306       1  female  39.0      0      0  108.9000        C
415         1307       3    male  38.5      0      0    7.2500        S
416         1308       3    male  30.0      0      0    8.0500        S
417         1309       3    male  30.0      1      1   22.3583        C

[418 rows x 8 columns]

In [53]:
y_preds = new_model.predict(X_test)
y_preds_final = np.round(y_preds)
y_preds_final.shape

(418, 1)

In [55]:
from sklearn.metrics import accuracy_score

In [56]:
test.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S

El Accuracy score segun el libro de ML in datascience, keras, tensorflow etc... dice que es el porcentaje de casos clasificadores correctamente.

In [57]:
accuracy_score(y_test, y_preds_final)

0.7751196172248804

In [58]:
#KFolds
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [59]:
def red_v1():
  #base secuencial para definir la estructura de la Red (SIEMPRE INICIAR CON SQUENTIAL)
  clasificador = Sequential()

  #primera capa oculta solo la primera necesita (input_dim = inputs
  clasificador.add(Dense(input_dim = inputs, units=10, activation='relu', kernel_initializer='uniform'))

  #segunda capa oculta ya en la segunda ya no se nesecita los input 
  clasificador.add(Dense(units=5, activation='relu', kernel_initializer='uniform'))

  clasificador.add(Dense(units=2, activation='relu', kernel_initializer='uniform'))

  #capa de salida
  clasificador.add(Dense(units=1, activation='sigmoid', kernel_initializer='uniform'))


  #parametros de optimizaci√≥n
  clasificador.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

  return clasificador

In [60]:
clasificador = KerasClassifier(build_fn=red_v1, batch_size=25, nb_epoch=1000)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  """Entry point for launching an IPython kernel.

In [61]:
kfolds = KFold(n_splits=10, shuffle=True)

accs = cross_val_score(clasificador, X=X_train, y=y_train, cv=kfolds, verbose=1, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    6.6s finished

In [62]:
accs

array([0.54166669, 0.60416669, 0.625     , 0.70212764, 0.63829786,
       0.65957445, 0.53191489, 0.65957445, 0.57446808, 0.55319148])

In [63]:
accs.mean()

0.6089982211589813

In [64]:
sub = pd.read_csv('/content/drive/MyDrive/gender_submission.csv')

In [65]:
sub['Survived'] = y_preds_final
sub.to_csv('submission_lightgbm.csv', index=False)

sub.head()

   PassengerId  Survived
0          892       0.0
1          893       1.0
2          894       0.0
3          895       0.0
4          896       0.0

In [66]:
from google.colab import files
sub.to_csv('carga3.csv') 
files.download('carga3.csv')